<%= notice %>
<h1><%= @store.name %></h1>
<div class="row">
  <div class="col-6">

    <table>
      <thead>餐點列表</thead>
      <tr>
        <th>餐點名稱</th>
        <th>價格</th>
      </tr>
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= dish.name %></td>
          <td><%= dish.price %></td>
          
        </tr>
        
      <% end %>
    </table>
  </div>
</div>